* {
    list-style-type: none;
    margin: 0 ;
    padding: 0;
}

.div1 {
    width: 100%;
    height: 100%;
    background-image: url("../../static/img/vshow/Bg/bj-2.png");
    background-size: cover;
    z-index: 1
}

.div2 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: url("../../static/img/vshow/Bg/bj-1.png");
    background-size: 100% 100%;
    z-index: 3;
}

.div2_1 {

    margin-top: 17%;
    width: 100%;
    height: 50px;

}

.div2_2 {
    width: 70%;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 1.75rem;
    font-weight: lighter;

}

.div2_3 {
    width: 70%;
    height: 260px;
    margin: auto;
    position: relative;
    letter-spacing: 0.2rem;
}

.div2_3 ul li {
    width: 100%;
    height: 50px;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    margin-top: 30px;
    padding: 2px;

}

.select {
    background-color: white;
    color: green !important;
}

.div2_3_ul1 {
    list-style-type: none;
    width: 34%;
    height: 200px;
    float: left;
    margin-left: 5%;
}

.div2_3_ul2 {
    list-style-type: none;
    width: 34%;
    height: 200px;
    float: left;
    margin-left: 20%;
}

.div2_4 {
    width: 70%;
    height: 40px;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
    color: #F2F2F2;
    font-size: 0.85rem;
    opacity: 0.5;
}

.div3 {
    width: 70%;
    height: 60px;
    margin: auto;
    margin-top: 20%;
    text-align: center;
    color: white;
    font-size: 1.75rem;
    opacity: 0.5;
    letter-spacing: 0.2rem;
    line-height: 2.3rem;

}

.div3_1 {
    width: 70%;
    height: 300px;
    margin: auto;
    position: relative;
}

.div3_1 ul li {
    width: 99%;
    /*height: 80px;*/
    margin: auto;
    margin-top: 1.5rem;
    color: white;
    font-size: 0.75rem;
}



.div3_1 ul li img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.img_select {
    background-color: white;
    border-radius: 40px;
}

.div3_1_ul1 {
    width: 30%;
    height: 250px;
    float: left;
    margin-left: 10%;

}

.div3_1_ul2 {
    width: 30%;
    height: 250px;
    float: right;
    margin-right: 10%;

}

.div3_2 {
    width: 70%;
    height: 30px;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    font-size: 0.5rem;
    letter-spacing: 0.1rem;
    color: white;
    opacity: 0.5;

}

.div4 {
    position: relative;
    width: 70%;
    height: 400px;
    margin: auto;
    margin-top: 20%;

}

.div4_1 {

    width: 100%;
    height: 30px;
    margin-top: 20%;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    opacity: 0.7;
    font-family: "sans-serif";
}

.div4_2 {
    width: 110%;
    height: 300px;
    margin-top: 70px;

}

.div4_2 ul li {
    position: relative;
    width: 95%;
    height: 30px;
    margin-top: 50px;
    color: white;
}

.div4_2_1 {
    float: left;
    width: 30%;
    height: 30px;
    text-align: left;
    letter-spacing: 0.3rem;
    margin-left: 3%;
}

.div4_2_2 {
    float: left;
    width: 60%;
    height: 30px;
    text-align: center;
    border: 2px solid white;
    border-radius: 7px;
    overflow: hidden;
    margin-top: -5px;
    position: relative;
    z-index: 3;
}
.div4_3{
    width:15%;
    margin:auto;
    position:relative;
    margin-top:5%;
    animation:arrow 1s infinite;
    -moz-animation:arrow 1s infinite;
    -webkit-animation:arrow 1s infinite;
    -o-animation: arrow 1s infinite;
}
.div4_3 img{
    width:100%;
    height:auto;
    opacity:0.9;
}
@keyframes arrow{
    0%{top:0px;opacity:0.7}
    50%{top:20px;opacity:0.9}
    100%{top:0px;opacity:0.7}
}
@-moz-keyframes arrow{
    0%{top:0px;opacity:0.7}
    50%{top:20px;opacity:0.9}
    100%{top:0px;opacity:0.7}
}
@-webkit-keyframes arrow{
    0%{top:0px;opacity:0.7}
    50%{top:20px;opacity:0.9}
    100%{top:0px;opacity:0.7}
}
@-o-keyframes arrow{
    0%{top:0px;opacity:0.7}
    50%{top:20px;opacity:0.9}
    100%{top:0px;opacity:0.7}
}

#check {
    position: absolute;
    width: 53%;
    height: 40px;
    margin-top: -37px;
    color: white;
    font-size: 0.8rem;
    background-color: #94D18B;
    z-index: 4;
}

.input1 {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    color: white;
    font-size: 1rem;
}

.button {
    margin-top: -5%;
    width: 22%;
    height: 32px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid white;

    border-radius: 7px;
    color: white;
    font-weight: bold;
}

.button_yes {
    background: rgba(255, 255, 255, 1);
    color: #49B239;

}

.button_no {
    color: white;
    background: rgba(0, 0, 0, 0);

}

.div5 {
    width: 70%;
    height: 240px;
    margin: auto;
    margin-top: 20%;
    letter-spacing: 0.1rem;
    font-size: 0.9rem;

}

.div5_1 {
    width: 100%;
    height: 30px;
    color: white;
    text-align: left;

}

.div5_2 {
    width: 100%;
    height: 160px;
    color: white;
    position: relative;
    text-align: left;
}

.div5_2 ul li {
    margin-top: 25px;
    position:relative;
}

.div5_2_1 {
    width: 55%;
    height: 160px;
    float: left;
}

.div5_2_2 {
    width: 40%;
    height: 160px;
    float: left;

}

.div5_2_yes {

    width: 15px;
    height: 15px;
    float:left;
    margin-right:10px;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 0.1rem;
    background: rgba(255, 255, 255, 1);
    color: #6FB037;
    text-indent: 3px;
}

.div5_2_no {

    width: 15px;
    height: 15px;
    float:left;
    margin-right:10px;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 0.1rem;
    color: #6FB037;
    background: rgba(255, 255, 255, 0);
    text-indent: 3px;

}
.div5_2_word{
    float:left;
}
input[type="radio"] {
    margin: 15px;
    display: none;
}

.div5_3 {
    width: 100%;
    height: 30px;
    color: white;
    text-align: left;
    margin-top: 40px;

}

.div5_4 {
    width: 100%;
    height: 60px;
    color: white;
    position: relative;
    text-align: left;

}

.div5_4 ul li {
    margin-top: 18px;
}

.div5_4_1 {
    width: 48%;
    height: 60px;
    float: left;
}

.div5_4_2 {
    width: 50%;
    height: 60px;
    float: left;
}

input[type="checkbox"] {
    margin-top: 30px;
    margin-left: 10px;
    display: none;

}

.div5_5 {
    width: 90%;
    height: 40px;
    margin: auto;
    margin-top: 3rem;
    border-radius: 15px;
    color: white;
    border: 2px solid white;
    padding: 5px;
    background: rgba(0, 0, 0, 0);
    letter-spacing: 1.5rem;
    font-size: 1.2rem;
    padding-left: 10%;

}

.div6 {
    margin-top: 53%;
    width: 100%;
    height: 50px;

}

.div6_1 {
    width: 70%;
    height: 100px;
    margin: auto;
    margin-top: 35px;
    color: white;
    opacity: 0.8;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.1rem;
    line-height: 2rem;
}

.div6_2 {
    width: 70%;
    height: 120px;
    margin: auto;
    margin-top: 40px;
    background-color: white;
    opacity: 1;
    box-shadow: 0 0 5px;
    letter-spacing: 0.2rem;
    padding-top: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 2rem;

}

#Piano, #Guitar, #Bass, #Drum, #other {
    display: none;
}

#Vocal {
    display: block;
}
@media screen and (min-width: 410px) {
    .div2_1 {
        margin-top: 18%;
    }
    .div2_4 {
        margin-top: 5rem;
    }
    .div3{
        margin-top:20%;
    }
    .div3_1 ul li img {
        width: 100%;
        height: 100%;
        border-radius: 50px;
    }


    .div3_1 ul li {
        /*height: 80px;*/
        margin-top: 2rem;
    }
    .div3_2{
        margin-top:5.5rem;
    }
    .div4_2 ul li {
        margin-top: 60px;

    }
    .div4_3{
        margin-top:16%;
    }
    .div5{
        margin-top:20%;
    }
    .div5_2 ul li {
        margin-top: 30px;
    }
    .div5_3 {
        margin-top: 70px;

    }

    .div6_1 {
        margin-top: 40px;
        font-size: 1.4rem;
        line-height: 2.5rem;
    }

    .div6_2 {
        margin-top: 60px;
    }
}

@media screen and (max-width: 330px) {
    .div2_1 {
        margin-top: 16%;
        height: 50px;
    }

    .div2_2 {
        height: 40px;
        margin-top: 10px;
    }

    .div2_3 {
        height: 200px;
        margin-top:-5%;
    }
    .div2_3 ul li {
        margin-top: 20px;
    }
    .div2_4 {

        margin-top: 3rem;
    }
    .div3 {
        font-size:1.5rem;
        height: 40px;
        line-height:2rem;
    }
    .div3_1 {
        height: 270px;
    }

    .div3_1 ul li {
        height: 65px;
    }
    .div3_2 {
        margin-top: 1rem;
    }

    .div4_1{
        margin-top:10%;
    }
    .div4_2 {
        margin-top: 10%;

    }
    .div4_2 ul li {
        margin-top: 40px;

    }

    .div4_2_1 {
        letter-spacing: 0.1rem;
    }
    .div4_3{
        margin-top:-20%;
    }
    .div5 {
        height: 210px;
        margin-top: 20%;
        letter-spacing: 0.02rem;
    }
    .div5_2{
        margin-top:-5%;
    }
    .div5_2 ul li {
        margin-top: 15px;
    }
    .div5_3 {
        margin-top: 0;

    }
    .div5_4{
        margin-top:-5%;
    }
    .div5_4 ul li {
        margin-top: 15px;
    }
    .div5_5{
        margin-top:1.5rem;
    }

    .div6 {
        margin-top: 17%;
    }

    .div6_1 {

        height: 80px;

        margin-top: 5%;

        font-size: 1.1rem;

        letter-spacing: 0;
        line-height: 2rem;
    }

    .div6_2 {
        width: 70%;
        height: 120px;
        margin: auto;
        margin-top: 40px;
        background-color: white;
        opacity: 1;
        box-shadow: 0 0 5px;
        letter-spacing: 0.2rem;
        padding-top: 20px;
        font-size: 1.1rem;
        font-weight: 100;
        line-height: 2rem;

    }

    .div6_2 {
        padding-left: 7px;
    }
}
